<a href="https://colab.research.google.com/github/anannhuang/pythonlesson2025/blob/main/lesson4/lesson4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
for i in [45, 92, 78, 50, 69]:
  print(i)

45
92
78
50
69

In [ ]:
#tuple
for i in (45, 92, 78, 50, 69):
  print(i)

45
92
78
50
69

# python list和tuple有何差別

---

Python 中 list（串列）和 tuple（元組）的主要差別如下：

- **1 可變性（Mutable vs Immutable）**
- list 是可變的（mutable），可以在建立後修改內容，包括新增、刪除、改變元素。
- tuple 是不可變的（immutable），一旦建立後，內容無法更改，不能新增、刪除或修改元素。
- **2 語法表示**
- list 使用中括號 [] 表示，例如：`[1, 2, 3]`。
- tuple 使用小括號 () 表示，例如：`(1, 2, 3)`。
- **3 性能差異**
- tuple 較輕量，因為不可變，佔用較少記憶體且存取速度較快。
- list 由於可變，佔用較多記憶體，操作時可能較慢。
- **4 使用情境**
- list 適合需要頻繁修改資料的場合，如新增或刪除元素。
- tuple 適合用於資料不需變動且需保護資料不被意外修改的情況，或作為函式間傳遞不可變資料的結構。

- 其他特性
- tuple 可用於具名元組（namedtuple），提供類似記錄（record）的功能，便於管理異質資料。
- list 支援較多的內建方法，如 append、extend、remove 等，tuple 則不支援這些修改型方法。

range() 傳出串列資料(sequence)
- 資料結構：資料類型
  - list: 串列資料類型(sequence)，可以儲存多個值，用中括號表示，e.g. [1, 15, 50, 32]   
tuple: 用小括號表示，e.g. (1, 15, 50, 32)   
tuple做為暫時的資料，不可變；list為永久資料，可變。
  - dictionary：詞典資料，map資料類型，放一組相關性的資料，用大括號表示，e.g. {key;value, key;value, key;value}   
list裡面裝dictionary -> 表格資料
  - set

In [ ]:
desserts = {'Muffin': 39, 'Scone': 25, 'Biscuit': 20}
desserts["Muffin"]
desserts["Biscuit"]

20

In [10]:
stu1 = {"name":"robert",
     "chinese":78,
     "english":98,
     "math":73}

stu2 = {"name":"alice",
     "chinese":72,
     "english":88,
     "math":63}

stu3 = {"name":"jenny",
     "chinese":65,
     "english":78,
     "math":93}

In [11]:
students = [stu1, stu2, stu3]
students

[{'name': 'robert', 'chinese': 78, 'english': 98, 'math': 73},
 {'name': 'alice', 'chinese': 72, 'english': 88, 'math': 63},
 {'name': 'jenny', 'chinese': 65, 'english': 78, 'math': 93}]

In [12]:
for student in students:
  print("姓名：",student["name"])
  print("國文：",student["chinese"])
  print("英文：",student["english"])
  print("數學：",student["math"])
  print("=================")

姓名： robert
國文： 78
英文： 98
數學： 73
=================
姓名： alice
國文： 72
英文： 88
數學： 63
=================
姓名： jenny
國文： 65
英文： 78
數學： 93
=================